@model IEnumerable<WebStore.Models.ProductEntity>
@using Microsoft.AspNetCore.Mvc.ViewEngines
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.CatDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplier.supplierId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
